h1  {
    text-align: center;
}

form  {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: auto;
    padding: 15px;
}

label  {
    width: 80px;
}

.btn, .entree  {
    display: flex;
    gap: 10px;
}

button  {
    border: 1px solid white;
    background-color: blue;
    color: white;

}

.err  {
    color: rgb(129, 103, 189);
}
